@page "/home"
@namespace HospitalManagementSystem.Blazor
@inherits AuthenticationComponentBase
@rendermode InteractiveServer
@using BlazorBootstrap

<PageTitle>Home</PageTitle>

<FluentCard>
    <FluentCard>
                @* @onchange=@( async () => await RenderYearlyBillAsync(true)) *@
        <FluentCombobox Label="Select year" Items=@State.YearOptions
                        OptionText="@(option => option.Text)"
                        OptionValue="@(option => option.Value)"
                        @bind-SelectedOption=State.SelectedYear 
                        Multiple=false 
                        Autocomplete="ComboboxAutocomplete.Both"
                        ValueChanged=@UpdateYearBillAsync />
        <BarChart @ref=@State.BarChart Class="mb-4" />
@*         <h3>
            Collection amount: @collectionAmount
        </h3> *@
    </FluentCard>
</FluentCard>
