@namespace HospitalManagementSystem.Blazor

<FluentAnchor Href="/home" Class="lba4hoai-logo-custom-font-size" Appearance="Appearance.Outline">LBA4HOAI</FluentAnchor>
<div style="display: flex; align-items: center; justify-content: flex-end; width: 100%;">

    @* <FluentDesignTheme @bind-Mode="@Mode" OfficeColor="OfficeColor.Sway"/> *@
    <FluentPersona Name="@(UserInfo is not null ? UserInfo.Email : "No Email")"
                   Status="PresenceStatus.Available"
                   Image="@(UserInfo is not null ? "UserInfo.ProfileImageUrl" : null)"
                   StatusTitle="You are online"
                   ImageSize="35px" />
        <FluentSpacer Width="15" />
@*         <FluentSwitch Label="Dark mode" 
                        Value=@isDarkMode
                        ValueChanged=ChangeTheme/> *@
        <FluentSpacer Width="15"/>
        <FluentButton @onclick="@(async () => await Logout())" BackgroundColor="#861b2d">Logout</FluentButton>

</div>
