@page "/home"
@namespace HospitalManagementSystem.Blazor
@inherits AuthenticationComponentBase
@rendermode InteractiveServer
@using BlazorBootstrap

<PageTitle>Home</PageTitle>

<FluentCard>
    <div style="display: flex; justify-content: center;">
        <img src="https://lba4storageaccount.blob.core.windows.net/generalfiles/lbalogo.png" alt="Logo" style="width: 150px; height: 150px;">
    </div>
    <br />
    <FluentCard>
                @* @onchange=@( async () => await RenderYearlyBillAsync(true)) *@
        <FluentCombobox Label="Select year" Items=@YearOptions 
                OptionText="@(i => i.Text)" 
                OptionValue="@(i => i.Value)"
                @bind-SelectedOption=SelectedYear 
                Multiple=false 
                Autocomplete="ComboboxAutocomplete.Both" 
                ValueChanged=@( async () => await UpdateYearlyBillAsync())/>
        <BarChart @ref=@BarChart Class="mb-4" />
@*         <h3>
            Collection amount: @collectionAmount
        </h3> *@
    </FluentCard>
    <br/>
    <FluentStack>
        <FluentCard>
            <DoughnutChart @ref=@DoughnutChart Width="500" Class="mb-5" />
            <br/>
@*             <h3>
                Total amount:
                @expensesAmount
            </h3> *@
        </FluentCard>
        <br/>
    </FluentStack>
</FluentCard>
